#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.book:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 30s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
  
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(35, 33, 33, 0.2); /* Add shadow for sophistication */
  border-radius: 0px 0px 0px 0px; /* Rounded bottom corners */
  overflow: hidden; /* Prevent clipping issues */
  box-sizing: border-box;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.navbar a:hover {
  color: #646cff; /* Change text color for hover effect */
  text-shadow: 0 0 10px rgba(100, 108, 255, 1),
               0 0 20px rgba(100, 108, 255, 0.8),
               0 0 30px rgba(100, 108, 255, 0.6); /* Create glowing text effect */
  transform: scale(1.1); /* Slightly enlarge the text */
  border-radius: 25px; /* Keep the same border radius for consistency */
}

/*test change */



